/*---------------------
  Checkout
-----------------------*/

.coupon__code {
	color: #0d0d0d;
	font-size: 15px;
	border-top: 2px solid #77b527;
	background: #f5f5f5;
	padding: 23px 30px 18px;
	margin-bottom: 50px;
}

.coupon__code span {
	margin-right: 15px;
}

.coupon__code a {
	color: #77b527;
}

.checkout__title {
	color: #111111;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
	margin-bottom: 30px;
}



.checkout__input {
	margin-bottom: 6px;
}

.checkout__input p {
	color: #6e6e73;
	margin-bottom: 7px;
}

.checkout__input p span {
	color: #e53637;
}

.checkout__input input {
	clear: both;
	height: 39px;
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: 8px;
	font-size: 16px;
	color: #666;
	padding-left: 20px;
	margin-bottom: 20px;
}
.checkout__input select option {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #b7b7b7;
	padding-left: 20px;
	margin-bottom: 20px;
}

.checkout__input input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::-moz-placeholder {
	color: #b7b7b7;
}

.checkout__input input:-ms-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::-ms-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::placeholder {
	color: #b7b7b7;
}

.checkout__input__checkbox label {
	font-size: 15px;
	color: #0d0d0d;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 16px;
	display: block;
}

.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	border-color: #e53637;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 3px;
	height: 14px;
	width: 14px;
	border: 1.5px solid #d7d7d7;
	content: "";
	border-radius: 2px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: -3px;
	width: 14px;
	height: 7px;
	border: solid #e53637;
	border-width: 1.5px 1.5px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}

.checkout__input__checkbox p {
	color: #0d0d0d;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 22px;
}

.checkout__order {
	background: #f3f2ee;
	padding: 30px;
	border-radius: 12px;
}

.checkout__order .order__title {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.checkout__order p {
	color: #6e6e73;
	font-size: 16px;
	line-height: 28px;
}

.checkout__order .site-btn {
	width: 100%;
	margin-top: 8px;
}

.checkout__order__products {
	font-size: 16px;
	color: #111111;
	overflow: hidden;
	margin-bottom: 18px;
}

.checkout__order__products span {
	
}

.checkout__order__products .shipping_notes {
	border: 1px solid #ced4da;
	border-radius: 12px;
	font-size: 16px;
	color: #666;
	padding-left: 20px;
}

.checkout__total__products {
	margin-bottom: 20px;
}

.checkout__total__products li {
	font-size: 16px;
	color: #444444;
	list-style: none;
	line-height: 26px;
	overflow: hidden;
	margin-bottom: 15px;
}

.checkout__total__products li:last-child {
	margin-bottom: 0;
}

.checkout__total__products li span {
	color: #111111;
	float: right;
}

.checkout__total__all {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 15px 0;
	margin-bottom: 26px;
}

.checkout__total__all li {
	list-style: none;
	font-size: 16px;
	color: #111111;
	line-height: 40px;
	overflow: hidden;
}

.checkout__total__all li span {
	color: #e53637;
	font-weight: 700;
	float: right;
}

.border__title{
    position: relative;
    padding-bottom: 30px;
    font-size: 17px;
    line-height:1;
    font-weight: 500;
}

.border__title::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height:2px;
    background: #fa8c16;
    content: "";
    z-index: 999;
    margin-bottom: 15px;
}



// Colors
$color-1: #2ecc71;
$color-2: #db3482;




body {
  
  justify-content: center;
  align-items: center;
  
}

.custom-radios {
  
  

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      .bgColor {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 6px 4px 6px 0;
        
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    
        img {
          opacity: 0;
          width: 12px;
          height: 12px;
          transition: all .3s ease;
        }
      }
      .bgimg{
        margin: 0 6px 0 16px;
        img {
            width: 26px;
            height: 25px;
          }
        
      }
      .text{
       
        margin: 6px 4px 6px 0;
      }
    }

    

    &#color-3 + label .bgColor {
      background-color: $color-1;
    }

    &#color-4 + label .bgColor {
      background-color: $color-2;
    }

    &:checked + label .bgColor img {
      opacity: 1;
    }
  }
}