.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    // transition: height 0.3s ease;
    border-bottom:  1px solid #d2d2d7;

    &.__top{
        padding: 10px 0;
        font-size: 14px;
    
        background-color: #f5f5f5;
        &.active {
            display: none;
        }
    
        &__left{
           text-align: right;
           color: #111111;
        }
        &__mid{
           text-align: center;
           color: #111111;
        }
        &__right{
           text-align: left;
           color: #111111;
        }
    }

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    // &.shrink {
    //     height: $header-shrink-height;
    //     box-shadow: $box-shadow;
    //     z-index: 100;
        

    //     @include mobile {
    //         height: $header-shrink-height;
    //     }
    // }

    &__logo {
        @include flex(center,center);
        pointer-events: all;
        @include mobile {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        img {
            height: 45px;
            width: 100px;
        }
    }

    &__menu {
        @include flex(center, space-between);
        height: $header-height;
        font-size: 13px;
        color: #262626;

        @include mobile {
            @include flex(center, space-between);
        }
        &__item ~ &__item {
            margin-left: 39px;

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 10px;
            }
        }

        &__item.active {
            font-weight: 600;
            color: $main-color;
        }

        &__item:hover {
            color: $main-color;
        }
       

        &__left,
        &__right {
            @include flex(center, flex-end);
            height: 100%;
        }

        // &__search{
        //     &__item{
        //         @include flex(center, center);
        //         position: absolute;
        //         left: 0;
        //         &__search {
        //             display: none;
        //             &.active {
        //                 display: block;
        //             }
        //         }
        //     }
        // }

        &__right {

            width: 20%;
            // @include flex(center, center);

            // @include tablet {
            //     margin-left: 10px;
            // }
            &__search {
                &__item{
                    @include mobile {
                        position: absolute;
                        left:55px;
                        top:15px
                    }
                
                    // &.active {
                    //     display: block;
                    // }
                }
            }
               
            &__cart{
                &__btn{
                    border: 0px solid;
                    margin: 0 0 5px 15px;
                    @include mobile {
                        margin: 0;
                    }
                    &__opiton{
                        background-color: transparent !important;
                        border: 0;
                        position: unset !important;
                        &__length{
                            color: #0d0d0d;
                            font-size: 11px;
                            font-weight: 400;
                            position: absolute;
                            left: 18px;
                            top: 20px;
                            background-color: #d1d1d1;
                            padding: 1px 5px 0px 5px;
                            border-radius: 8px;
                            @include mobile {
                                top: 15px;
                            }
                        }
                    }
                    &__opiton:hover{
                        background-color: transparent !important;
                        border: 0 !important;
                    }
                        
                    &__opiton:focus{
                        box-shadow: none !important;
                    }
                }
            }
            &__user{
                &__item{
                    float: right;
                    height: 30px;
                    width: 30px;
                }
            }
        }

        &__left {
            &__close {
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $main-bg;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;
                z-index: 1;

                &.active {
                    transform: translateX(0);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    left: 20px;
                    font-size: 2.5rem;
                }
            }
        }

        &__mobile-toggle {
            display: none;

            @include tablet {
                display: block;
                position: relative;
                font-size: 2.5rem;
            }
        }
    }
}


.header__menu__right__cart__btn__opiton:hover{
 background-color: transparent !important;
 border: 0 !important;
}

.header__menu__right__cart__btn__opiton:focus{
    box-shadow: none !important;
}

.search{
    cursor: pointer;
}
