.product {
    margin-top: 100px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;

    @include flex(flex-start, flex-start);
    

    @include mobile {
        flex-direction: column;
    }

    &__images {
        // @include flex(flex-start, flex-start);
        width: 65%;
        flex-wrap: wrap;

        @include tablet {
            width: 80%;
        }

        @include mobile {
            width: 100%;
        }

        &__list {
            width: 20%;

            &__item {
                cursor: pointer;
            }
        }

        &__main {
            flex-grow: 1;
            padding-top: 100%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                height: 60%;
                width: 60%;
                transform: translateX(-50%);
            }
        }
    }

    &__info {
        flex-grow: 1;
        position: sticky;
        top: $header-shrink-height;
        padding-top: 2rem;
        margin-right: 30px;

        @include mobile {
            position: relative;
            top: unset;
            width: 100%;
        }

        &__title {
            font-size: 2.5rem;
            font-weight: normal;
        }

        &__item {
            margin-top: 2rem;

            &__price {
                color: $main-color;
                font-size: 2rem;
                font-weight: 600;
            }

            &__title {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
                width: 50%;
            }

            &__list {
                @include flex(center, flex-start);

                &__item {
                    @include flex(center, center);

                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid $txt-second-color;
                    cursor: pointer;
                    margin-right: 1rem;

                    @include mobile {
                        width: 40px;
                        height: 40px;
                    }

                    &.active {
                        border-color: $main-color;
                    }

                    &:hover {
                        border-color: $main-color;
                    }

                    .circle {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;

                        @include mobile {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &__size {
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }
            }

            &__quantity {
                @include flex(flex-start, flex-start);

                &__btn {
                    @include flex(center, center);
                    width: 30px;
                    height: 30px;
                    font-size: 1.5rem;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: #fa8c16;
                    color: #ffffff;
                }

                &__input {
                    @include flex(center, center);
                    height: 30px;
                    width: 45px;
                    font-size: 1.5rem;
                }
                
            }

            button {
                margin-right: 1rem;
                margin-bottom: 1rem;
                width: 100%;
                border-radius: 30px;
                padding: 12px 0;
            }
        }
    }
}
.product-description {
    width: 100%;
    padding: 2rem 2rem 3rem;
    height: 400px;
    overflow: hidden;
    position: relative;

    @include mobile {
        display: none;
    }

    &.mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &.expand {
        height: max-content;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 2rem 0;
    }

    &__content {
        font-size: 1.25rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    &__toggle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}



.product__details__pic {
	text-align: center;
	background: #fff;
	padding: 0px 60px 0 60px;
}

.product__details__pic .nav-tabs {
	border-bottom: none;
	width: 105px;
}

.product__details__pic .nav-tabs .nav-item {
	margin-bottom: 10px;
}

.product__details__pic .nav-tabs .nav-item:last-child {
	margin-bottom: 0;
}

.product__details__pic .nav-tabs .nav-item .nav-link {
	padding: 0;
	display: block;
}

.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
	height: 120px;
	width: 95px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic i {
	height: 56px;
	width: 56px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	color: #ffffff;
	line-height: 48px;
	display: inline-block;
	text-align: center;
}

.product__details__pic .nav-tabs .nav-item.show .nav-link,
.product__details__pic .nav-tabs .nav-link.active {
	background-color: transparent;
	border-color: transparent;
}
.product__details__pic__item {
	position: relative;
}

.product__details__pic__item a {
	height: 56px;
	width: 56px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	color: #ffffff;
	line-height: 48px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -28px;
	margin-left: -28px;
}

.product__details__breadcrumb {
	margin-bottom: 30px;
	background-color: #f3f2ee;
	padding: 20px 0;
	border-bottom: 1px #d2d2d7 solid;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.product__details__breadcrumb a {
	font-size: 15px;
	color: #111111;
	// margin-right: 8px;
	display: inline-block;
	position: relative;
}
.faAngleRight{
    margin: 0 8px;
}

// .product__details__breadcrumb a:after {
// 	position: absolute;
// 	right: -14px;
// 	top: 0;
// 	content: "";
// 	font-family: "FontAwesome";
// }

.product__details__breadcrumb span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

.product__details__text {
	text-align: left;
	font-size: 20px;
	@include mobile {
		font-size: 18px;
	}
}


.product__details__text h2 {
	color: #1d1d1f !important;
	font-weight: 700;
	margin-bottom: 10px;
}

.product__details__text h5 {
	color: #1d1d1f !important;

}

.product__details__text h3 span {
	color: #b7b7b7;
	font-size: 20px;
	font-weight: 400;
	margin-left: 10px;
	text-decoration: line-through;
}

.product__details__text p {
	margin-bottom: 35px;
}


.product__details__cart__option {
	margin-bottom: 25px;
}

.product__details__cart__option .quantity {
	display: inline-block;
	margin-right: 20px;
}

.product__details__cart__option .quantity .pro-qty {
	width: 70px;
	height: 40px;
	border: 1px solid #e5e5e5;
	position: relative;
}

.product__details__cart__option .quantity .pro-qty input {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	width: 70px;
	height: 100%;
	text-align: center;
	border: none;
}

.product__details__cart__option .quantity .pro-qty .qtybtn {
	position: absolute;
}

.product__details__cart__option .quantity .pro-qty .qtybtn.inc {
	top: 16px;
}

// TAB

.product__details__tab {
	padding-top: 60px;
}

.product__details__tab .nav-tabs {
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__tab .nav-tabs .nav-item {
	margin-right: 50px;
}

.product__details__tab .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.product__details__tab .nav-tabs .nav-item .nav-link {
	font-size: 20px;
	color: #b7b7b7;
	padding: 0;
	border: none;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
}

.product__details__tab .nav-tabs .nav-item .nav-link.active {
	border-bottom: 2px solid #e53637;
}

.product__details__tab__content {
	padding-top: 35px;
}

.note {
	color: #111111;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}

.product__details__tab__content__item {
	border-radius: 5px;
	margin-bottom: 30px;
	
	padding: 10px;
	box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.product__details__tab__content__item h5 {
	color: #111111;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}

.blog__details__comment h4 {
	color: #333333;
	font-weight: 700;
	margin: 35px 0;
	text-align: center;
}

.blog__details__comment h3 {
	color: #333333;
	font-weight: 700;
	font-size: 20px;
}

.blog__details__comment form input {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 15px;
	color: #1d1d1f;
	margin-bottom: 30px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
    border-radius: 30px;
}

.blog__details__comment form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::-moz-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input::placeholder {
	color: #b7b7b7;
}

.blog__details__comment form input:focus {
	border-color: #fa8c16;
    outline: none;
}

.blog__details__comment form textarea {
	height: 120px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	padding-top: 12px;
	font-size: 15px;
	color: #1d1d1f;
	margin-bottom: 24px;
	resize: none;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
    border-radius: 30px;
}

.blog__details__comment form textarea::-webkit-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::-moz-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea:-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::-ms-input-placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea::placeholder {
	color: #b7b7b7;
}

.blog__details__comment form textarea:focus {
	border-color: #fa8c16;
    outline: none;
}

.blog__details__comment button {
	margin-right: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 30px;
    padding: 12px 0;
}

.blog__details__evaluate{
    width: 100%;
    margin: 20px 0;
}

.blog__details__evaluate h5{
    text-align: right;
}

.star-ratings{
    text-align: left;
    cursor: pointer;
}

.product__details__breadcrumbs{
	padding-top: 30px;
}

.product__details__tab__content__item {
	border-radius: 30px;
	margin-bottom: 30px;
	
	padding: 10px;
	box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.product__details__tab__content__item:last-child {
	margin-bottom: 0;
}

.product__details__tab__content__item ul {
	padding-left: 10px !important;
}

.product__details__tab__content__item h5 {
	color: #111111;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 12px 5px;
}

.product__details__tab__content__item p {
	margin: 0 0 0 5px;
}
.img__details{
	width: 50%;
	height: 100%;
}
.head_package{
	background-color: #d9e9f5;
	
}
.package_title{
	font-size: 16px !important;
	text-align: center !important;
}
.benefit_title{
	font-size: 14px !important;
	font-weight: 500 !important;
}
.benefit_content{
	text-align: center !important;
}
.product__details__title {
	text-align: center;
	background: #fff;
	width: 100%;
}
.product__details__border {
    border: 2px solid #d1d1d1;
    padding: 35px;
    border-radius: 15px;
}